:root {
    --primary-color: #5891a0;
    --secondary-color: #435b6b;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --sub-coloring: #3a6672;
    }
    
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
    
    body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    }
    
    ul {
    list-style-type: none;
    }
    
    a {
    text-decoration: none;
    color: #333;
    }
    
    h1,
    h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    }
    
    p {
    margin: 10px 0;
    }
    
    img {
    width: 100%;

    }
    
    .features-head img,
    .overons-head img {
    width: 200px;
    justify-self: flex-end;
    }
    
    .hidden {
    visibility: hidden;
    height: 0;
    }
    
    .navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
    }
    
    .navbar ul {
    display: flex;
    }
    
    .navbar a {

    color: #fff;
    padding: 10px;
    margin: 0 5px;
    }
    
    .navbar a:hover {
      border-bottom: 2px #fff solid;
    }
    
    .navbar .flex {
    justify-content: space-between;
    }
    
    .sticky {
      width: 100%;
      top: 0;
      position: fixed;
    }
    
    .showcase {
    height: 250px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
    }
    
    .showcase h1 {
    font-size: 40px;
    }
    
    .showcase p {
    margin: 20px 0;
    }
    
    .showcase .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap: 30px;
    }
    
    
    .showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    transition: 0.8s;
    }
    
    .showcase-form:hover {
    position: relative;
    top: 60px;
    height: 400px;
    width: 450px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    transition-timing-function: 0.8s ease-in-out;
    }
    
    .showcase-form .form-control {
    margin: 30px 0;
    }
    
    .showcase-form input[type='text'],
    .showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    }
    
    .showcase-form input:focus {
    outline: none;
    }
    

    
    
    .kaarten {
    padding-top: 100px;
    }
    
    .kaarten-heading {
    max-width: 500px;
    margin: auto;
    }
    
    .kaarten .grid h3 {
    font-size: 35px;
    }
    
    .kaarten .grid p {
    font-size: 20px;
    font-weight: bold;
    }
    
    
    .openingstijden .flex {
    flex-wrap: wrap;
    }
    
    .openingstijde .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    }
    
    .openingstijde .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
    }
    
    .openingstijde .card:hover {
    transform: translateY(-15px);
    }
    
    
    .overons-main .card > i {
    margin-right: 20px;
    }
    
    .overons-main .grid {
    padding: 30px;
    }
    
    .overons-main .grid > *:first-child {
    grid-column: 1 / span 3;
    }
    
    .overons-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
    }
    
    
    @media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .kaarten .grid,
    .middel .grid,
    .overons-main .grid,
    .review-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    }

    @media (max-width: 528px) {


      img
      {
        display: none;
      }

      section.overons-head.bg-primary.py-5
      {
        padding: 6rem 5rem;
      }
      h1.xl
      {
        font-size: 2rem;
      }
      
    }
    
    @media (max-width: 768px)
    {
    .kaarten .grid
    {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    }
    
    
    .showcase {
    height: auto;
    }
    
    .showcase-text {
    text-align: center;
    margin-top: 40px;
    }
    
    .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
    }
    
    .overons-head,
    .overons-sub-head,
    .review-head {
    text-align: center;
    }
    
    .overons-head img,
    .overons-sub-head img,
    .review-head img {
    justify-self: center;
    }
    
    .overons-main .grid > *:first-child,
    .overons-main .grid > *:nth-child(2) {
    grid-column: 1;
    }
    }
    
    @media (max-width: 500px) {
    .navbar {
    height: 110px;
    }
    
    .navbar .flex {
    flex-direction: column;
    }
    
    .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    }
    
    .showcase-form {
    width: 300px;
    }

    .showcase::before,
    .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    }
    }
    
    .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    }
    
    .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    
    .flip-card-front {
    background-color: #bbb;
    color: black;
    }
    
    .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    }
    
    
    .mt-5 {
    margin-top: 5px;
    }
    
    .text-center {
    text-align: center;
    }
    
    
    .w-25 {
    width: 25%;
    }
    
    .col {
    float: left;
    width: 50%;
    }
    
    
    
    input {
    width: 45%;
    margin-left: 10px;
    margin-right: 10px;
    }
    
    textarea {
    width: 50%;
    height: 150px;
    padding: 14px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    }
    
    input[type=text], select {
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    
    button[type=submit] {
    width: 50%;
    border: none;
    background-color: #4C0000;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    }
    
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    }
    
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    
    .ml-5 {
    margin-left: 5px;
    }
    
    .r:after {
    content: "";
    display: table;
    clear: both;
    }
    
    .ml-5 {
    margin-left: 5px;
    }
    
    .mt-5 {
    margin-top: 5px;
    }
    
    .w-25 {
    width: 25%;
    }
    
    .w-100 {
    width: 100%;
    }
    
    .btn-danger {
    border: none;
    background-color: #FF0000;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    }
    
    .btn-warning {
    border: none;
    background-color: #FFBF00;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    }
    
    p {
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    }
    
    div h2 {
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    }
    
    div h2:hover {
    font-size: 105%;
    }
    
    .flexform
    {
    display: flex;
    }
    
    .form {
      width:340px;
      height:440px;
      background:#e6e6e6;
      border-radius:8px;
      box-shadow:0 0 40px -10px #000;
      margin:calc(50vh - 220px) auto;
      padding:20px 30px;
      max-width:calc(100vw - 40px);
      box-sizing:border-box;
      font-family:'Montserrat',sans-serif;
      position:relative
    }
    .h2 {
      margin:10px 0;
      padding-bottom:10px;
      width:180px;
      color:#78788c;
      border-bottom:3px solid #78788c;
    }
    .input {
      width:100%;
      padding:10px;
      box-sizing:border-box;
      background:none;
      outline:none;
      resize:none;
      border:0;
      font-family:'Montserrat',sans-serif;
      transition:all .3s;
      border-bottom:2px solid #bebed2;}
    .input:focus {
      border-bottom:2px solid #78788c
    }
    .p:before {
      content:attr(type);
      display:block;
      margin:28px 0 0;
      font-size:14px;
      color:#5a5a5a;
    }
    .button2 {
      float:right;
      padding:8px 12px;
      margin:8px 0 0;
      font-family:'Montserrat',sans-serif;
      border:2px solid #78788c;
      background:0;color:#5a5a6e;
      cursor:pointer;
      transition:all .3s
    }
    .button2:hover {
      background:#78788c;
      color:#fff;
    }
    .div {
      content:'Hi';
      position:absolute;
      bottom:-15px;
      right:-20px;
      background:#50505a;
      color:#fff;
      width:320px;
      padding:16px 4px 16px 0;
      border-radius:6px;
      font-size:13px;
      box-shadow:10px 10px 40px -14px #000;}
    .span {
      margin:0 5px 0 15px
    }
    
    .button3
    {
      margin: 10px;
      padding:8px;
      font-family:'Montserrat',sans-serif;
      border:2px solid #78788c;
      background:0;color:#5a5a6e;
      cursor:pointer;
      transition:all .3s
    }
    .button3:hover
    {
      background:#78788c;
      color:#fff
    }
    .imgwidth
    {
      width: 120px;
    }
    
    .width
    {
      padding: 10px 10px;
    }
    
    .displayflex
    {
      display:flex;
      justify-content: space-around;
      margin: 10px;
    }
    
    .textflex
    {
      display:flex;
      justify-content: space-around;
      margin: 10px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

.Login-navbar
{
  height: 5rem;
  background-color: rgba(2, 90, 49, 0.425);
}

    